@import '../../styles/variables.less';

.root {
  flex: 0 0 auto;
}

.header {
  width: 100%;
  height: 280px;
  padding: 20px;

  @media (min-width: @screen-md) {
    background: url('images/natalia-header.svg') no-repeat top center;
    background-size: contain;
  }
}

.logo {
  width: 45%;
  display: block;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-item {
  text-decoration: none;
  color: #444444;
  font-size: 17px;
  padding: 15px 10px;
  transition: color 0.2s linear;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &.active {
    color: #cd3e72;
  }
}