@import '../../styles/variables.less';

.header {
  max-width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500;
  background: @white;
  height: 103px;

  @media (min-width: @screen-md) {
    background: url('images/natalia-header.svg') no-repeat top center;
    background-size: contain;
    padding: 6px 20px 20px;
    position: static;
    height: auto;
  }

  @media (min-width: @screen-lg) {
    height: 280px;
  }
}

.logo {
  display: inline-block;
  width: 300px;
  margin: 0;
  opacity: 1;

  @media (min-width: @screen-sm) {
    width: 300px;
    margin-left: 0;
  }

  @media (min-width: @screen-md) {
    width: 49%;
    display: block;
    margin: 0 auto;
  }
}
